# Prerequisites
*.d

# Compiled object files
*.o
*.lo
*.slo
*.obj

# Precompiled headers
*.gch
*.pch

# Compiled dynamic libraries
*.so
*.dll
*.dylib

# Compiled static libraries
*.a
*.la
*.lai
*.lib

# Executables
*.exe
*.out
*.app

# Videos
*.mp4
